

<div class="body">
    <div class="nav">
        <div class="pull-right">
          <a href="#">NISHA BATRA</a>
        </div>
        <a href="#">hi</a>
        <a href="#">projects</a>
        <a href="#">blog</a>
        <a href="#">contact</a>
        <div class="pull-right">
          buttons
        </div>
    </div>
   <div class="content">
  <%= simple_partial :_welcome %>
  <%= simple_partial :_hi %>
  <%= simple_partial :_projects %>
  <%= simple_partial :_blog %>
  <%= simple_partial :_contact %>
</div>
</div>

