<%= simple_partial :_header %>

<div id="content">
  <%= simple_partial :_welcome %>
  <%= simple_partial :_hi %>
  <%= simple_partial :_projects %>
  <%= simple_partial :_blog %>
  <%= simple_partial :_contact %>
</div>

<!-- JAVASCRIPT -->

<script type="text/javascript">
$(function(){
  
  var menu = $('#menu'),
    pos = menu.offset();
    
    $(window).scroll(function(){
      if($(this).scrollTop() > pos.top+menu.height() && menu.hasClass('default') && $(this).scrollTop() > 500){
        menu.fadeOut('fast', function(){
          $(this).removeClass('default').addClass('fixed').fadeIn('fast');
        });
      } else if($(this).scrollTop() <= pos.top+500 && menu.hasClass('fixed')){
        menu.fadeOut('fast', function(){
          $(this).removeClass('fixed').addClass('default').fadeOut('fast');
                    console.log($(this).html());
        });
      }
    });

});
</script>